<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.srb.core.mapper.BorrowerMapper">

    <insert id="insertBorrower" keyProperty="borrower.id" useGeneratedKeys="true">
        insert into borrower (user_id,name,id_card,mobile,sex,age,education,is_marry,industry,income,return_source,contacts_name,contacts_mobile,contacts_relation,status,create_time,update_time,is_deleted)
            values (#{borrower.userId},#{borrower.name},#{borrower.idCard},
                    #{borrower.mobile},#{borrower.sex},#{borrower.age},
                    #{borrower.education},#{borrower.marry},#{borrower.industry},#{borrower.income},
                    #{borrower.returnSource},#{borrower.contactsName},#{borrower.contactsMobile},
                    #{borrower.contactsRelation},#{borrower.status},now(),now(),0)
    </insert>

    <select id="getBorrowerStatus" resultType="java.lang.Object">
        select B.status from borrower B where B.user_id = #{userId} and B.is_deleted = 0
    </select>

    <select id="listPage" resultType="com.chen.srb.core.pojo.entity.Borrower">
        select * from borrower B where
            <if test="keyword != null and keyword != ''">
                (B.name like CONCAT('%' , #{keyword} , '%')
                OR B.mobile like CONCAT('%' , #{keyword} , '%')
                OR B.id_card like CONCAT('%' , #{keyword} , '%'))
            </if>
    </select>

    <select id="getBorrowerDetail" resultType="com.chen.srb.core.pojo.entity.Borrower">
        select B.id,B.user_id,B.name,B.id_card,B.mobile,B.sex,B.age,B.education,B.is_marry,
               B.industry,B.income,B.return_source,B.contacts_name,B.contacts_mobile,B.contacts_relation,
               B.status,B.create_time,B.update_time,B.is_deleted
        from borrower B
        where B.id = #{id}
    </select>

    <update id="updateBorrowerStatus">
        update borrower B
        set B.status = #{status},B.update_time = now()
        where B.id = #{id} and B.is_deleted = 0
    </update>
</mapper>