<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.srb.core.mapper.DictMapper">

    <insert id="insertBatch">
        insert into dict(id,parent_id,name,value,dict_code,create_time,update_time,is_deleted)
            values
                <foreach collection="list" item="excelDictDTO" separator=",">
                    (#{excelDictDTO.id},#{excelDictDTO.parentId},#{excelDictDTO.name},#{excelDictDTO.value},#{excelDictDTO.dictCode},now(),now(),0)
                </foreach>
    </insert>

    <select id="listDictData" resultType="com.chen.srb.core.pojo.entity.Dict">
        select D.id,D.parent_id,D.name,D.value,D.dict_code from dict D where is_deleted = 0
    </select>

    <select id="listByParentId" resultType="com.chen.srb.core.pojo.entity.Dict">
        select D.id,D.parent_id,D.name,IFNULL(D.value,0) value,D.dict_code from dict D where is_deleted = 0 and parent_id = #{parentId}
    </select>

    <select id="selectCount" resultType="int">
        select count(id) from dict where parent_id = #{parentId}
    </select>

    <select id="getIdByDictCode" resultType="java.lang.Long">
        select D.id from dict D where D.dict_code = #{dictCode} and D.is_deleted = 0
    </select>

    <select id="getEducation" resultType="java.lang.String">
        select d1.name
        from dict d1
                 inner join dict d2 on d2.id = d1.parent_id
        where d1.value = #{education} and d2.dict_code = 'education'
    </select>

    <select id="getIndustry" resultType="java.lang.String">
        select d1.name
        from dict d1
                 inner join dict d2 on d2.id = d1.parent_id
        where d1.value = #{industry} and d2.dict_code = 'industry'
    </select>

    <select id="getIncome" resultType="java.lang.String">
        select d1.name
        from dict d1
                 inner join dict d2 on d2.id = d1.parent_id
        where d1.value = #{income} and d2.dict_code = 'income'
    </select>

    <select id="getReturnSource" resultType="java.lang.String">
        select d1.name
        from dict d1
        inner join dict d2 on d1.parent_id = d2.id
        where d1.value = #{returnSource} and d2.dict_code = 'returnSource'
    </select>

    <select id="getContactsRelation" resultType="java.lang.String">
        select d1.name
        from dict d1
                 inner join dict d2 on d1.parent_id = d2.id
        where d1.value = #{contactsRelation} and d2.dict_code = 'contactsRelation'
    </select>
</mapper>