<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.srb.core.mapper.TransFlowMapper">

    <insert id="insert">
        insert into trans_flow(user_id, user_name, trans_no, trans_type, trans_type_name, trans_amount, memo,
                               create_time, update_time, isdeleted)
        values (#{userId}, #{userName}, #{transNo}, #{transType}, #{transTypeName}, #{transAmount}, #{memo}, now(),
                now(), 0)
    </insert>

    <select id="selectTransFlow" resultType="int">
        select count(*)
        from trans_flow
        where trans_no = #{transNo}
          and is_deleted = 0
    </select>
</mapper>