<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.srb.core.mapper.UserAccountMapper">

    <insert id="insert">
        insert into
            user_account(user_id,amount,freeze_amount,create_time,update_time,is_deleted,version)
            values (#{userId},IFNULL(amount,0),IFNULL(freeze_amount,0),now(),now(),0,0)
    </insert>

    <update id="updateAccount">
        update user_account
            set amount = #{amount},
                freeze_amount = #{freezeAmount}
        where user_id = (select id from user_info where bind_code = #{bindCode})
    </update>
</mapper>