<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.srb.core.mapper.UserIntegralMapper">

    <insert id="insertUserIntegral">
        insert into user_integral (user_id,integral,content,create_time,update_time,is_deleted)
            values (#{userId},#{integral},#{content},now(),now(),0)
    </insert>
</mapper>